[submodule "VSPBeamer/vsp-beamer"]
	path = VSPBeamer/vsp-beamer
	url = git@github.com:liyuxuan3003/VSPBeamer.git
	branch = master
[submodule "VSPBeamer/makefile-latex"]
	path = VSPBeamer/makefile-latex
	url = git@github.com:liyuxuan3003/MakefileLaTeX.git
	branch = master
[submodule "VSPBeamer/minimus"]
	path = VSPBeamer/minimus
	url = git@github.com:liyuxuan3003/Minimus.git
	branch = master
