[submodule "VSPBeamer"]
	path = VSPBeamer/vsp-beamer
	url = git@Lithium:LaTeX/VSPBeamer.git
	branch = master
[submodule "MakefileLaTeX"]
	path = VSPBeamer/makefile-latex
	url = git@Lithium:LaTeX/MakefileLaTeX.git
	branch = master
[submodule "Minimus"]
	path = VSPBeamer/minimus
	url = git@Lithium:LaTeX/Minimus.git
	branch = master
[submodule "StandaloneSilicon"]
	path = VSPBeamer/standalone-silicon
	url = git@Lithium:LaTeX/StandaloneSilicon.git
	branch = master
